<template name="signup">
  <div class="container">
    <form>
      <div class="control-group">
        <label>{{_ "user.username"}}</label>
        <div class="controls"><input id="username" name="username" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>{{_ "user.email"}}</label>
        <div class="controls"><input id="email" name="email" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>{{_ "user.password"}}</label>
        <div class="controls"><input id="password" name="password" type="password" value="" /></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="{{_ 'user.signup'}}" />
      </div>
    </form>
  </div>
</template>